# ASP.NET Core


# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - azure-pipelines.yml
    - BookStore

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  sdkVersion: 5.0.x

steps:

- task: UseDotNet@2
  displayName: dotnet sdk 2.x
  inputs:
    packageType: 'sdk'
    version: '2.x'
- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'sonarcloud'
    organization: '2011-nov02-net'
    scannerMode: 'MSBuild'
    projectKey: '2011-nov02-net_antonio-project1'
- task: UseDotNet@2
  displayName: dotnet sdk $(sdkVersion)
  inputs:
    packageType: 'sdk'
    version: '$(sdkVersion)'
- script: dotnet build --configuration $(buildConfiguration)
  displayName: dotnet build
  workingDirectory: BookStore

- task: SonarCloudAnalyze@1
  displayName: sonar analysis

- task: SonarCloudPublish@1
  displayName: sonar analysis publish
  inputs:
    pollingTimeoutSec: '300'

- task: DotNetCoreCLI@2
  displayName: dotnet test
  inputs:
    command: 'test'
    arguments: '--configuration $(buildConfiguration)'
    publishTestResults: true
    workingDirectory: 'BookStore'

- script: dotnet publish --configuration $(buildConfiguration) --output publish
  displayName: dotnet publish
  workingDirectory: BookStore
- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'Azure subscription 1 (e651ad7e-a3af-4e5b-9734-05a198120bd7)'
    appType: 'webApp'
    WebAppName: 'mvc-mendez'
    packageForLinux: 'BookStore/publish'

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'SonarCloud'
    organization: 'antoniomendez017'
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: 'antoniomendez017'
    cliSources: '.'